
<section class="logon_container">
  <div style="width: 400px; display: block;">
    <h1 id="logonTitle">Login</h1>
    <p style="color: green"><%= flash[:notice] %></p><br/>
    <!-- local: true will disable ajax and instead will user a full page reload-->
    <%=form_with url: sessions_path, local: true do |f|%>
    <div>
      <%= f.label :user_name %><br/>
      <%= f.text_field :user_name , value: @name  %>
    </div>
    <div>
      <%= f.label :password %><br/>
      <%= f.password_field :password, value: @password %>
    </div>
    <div>
      <%=f.submit "Log In"%>
    </div>
    <% end %>
  </div>
</section>