<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> 
    <script javascript_pack_tag src="like_button.js" crossorigin></script> -->

    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      h1 {
        color: red;
      }
       /* add inline styles here  */
    </style>
  </head>

  <body id="home" class="open-left" style="margin: 0 10%;"> <!--  id="home" class="open-left"> -->
 <!--<div id="offcanvas-left" class="hide">
    <ul>
      <li><a href="#">Create Article</a></li>
      <li><a href="#">Add comment</a></li>
      <li><a href="#">Go home</a></li>
    </ul>
  </div>
  <div class="togglebar">
    <div class="toggle" onclick="toggleLeft()">
      <i class="fa fa-bars"></i>
    </div>
  </div> -->
  <div >
    <%= yield %>
  </div>
  </body>
</html>
